<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="musicBean"
          class="ru.myApp.forAlishev.ClasicalMusic">
    </bean>
    <bean id="musicPlayer"
        class="ru.myApp.forAlishev.MusicPlayer">
        <!-- <constructor-arg ref = "musicBean"/>  это внедрение через конструктор-->
        <property name="music" ref = "musicBean"/> <!-- указываем имя сеттера(camelCase компилятор гений
        поэтому сам отбрасывает в сеттере слово Set а music пишет с маленькой) и
        ссылку на бин который мы хотим использвать в качестве зависимости -->
    </bean>

</beans>